* {
    margin: 0;
    padding: 0;
}
.header {
    background: #0F2438;
}
.header_top{
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_top__left,
.header_top__right {
    display: flex;
    column-gap: 25px;
}
.header_top__left-item,
.header_top__right-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.header_top__left-item {
    display: flex;
    column-gap: 5px;
}
.header_top__left-item a {
    color: white;
}
.header_content, .header_nav {
    margin: 0 auto;
    width: 1400px;
}
.header_content-flex {
    display: flex;
    justify-content: space-around;
}
.header_content-flex-one {
    display: flex;
    column-gap: 5px;
}
.header_content-flex-one-image {
    margin-top: 20px;
}
.header_content-flex-one-text {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.header_content-flex-one-text-one {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}
.header_content-flex-one-text-two {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}
.header_content-flex-two {
    margin-top: 41px;
    display: flex;
    column-gap: 10px;
}
.header_content-flex-two-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}
.header_content-flex-three {
    display: flex;
    column-gap: 15px;
}
.header_content-flex-three-image {
    margin-top: 45px;
}
.header_content-flex-three-text {
    margin-top: 53px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}
.header_content-flex-four {
    display: flex;
    column-gap: 6px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    width: 252px;
    height: 31px;
    background: #E1EFD0;
    margin-top: 46px;
}
.header_content-flex-fife {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.header_content-flex-fife-text-one {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
    margin-top: 41px;
}
.header_content-flex-fife-text-two {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
}
.header_nav {
    display: flex;
    margin: 25px auto 20px;
    width: 1300px;
}
.border_content {
    border-bottom: 2px solid #E5E5E5;
}
.header_nav-block-one {
    background: #005BB9;
    border-radius: 6px;
}
.header_nav-block-one-content {
    display: flex;
    column-gap: 12px;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 53px;

}
.header_nav-block-one-content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.header_nav-block-one-content-block {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: center;
}
.header_nav-block-one-content-block-line {
    width: 20px;
    height: 3px;
    background: #FFFFFF;
}
.header_nav-search {
    margin-left: 30px;
    display: flex;
}
.header_nav-search-input input {
    width: 549px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    border: none;
}
.header_nav-search-button {
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    width: 101px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_nav-search-button-content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.header_nav-man {
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.header_nav-text {
    margin-left: 18px;
}
.header_nav-text-text, .header_nav-heart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_nav-border-content {
    border: 1px solid #E1E5F8;
    height: 28px;
}
.header_nav-border {
    display: flex;
    align-items: center;
    margin-left: 26px;
}
.header_nav-heart {
    margin-left: 25px;
}
.header_nav-like {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_nav-like-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
    margin-left: 15px;
}
.header_nav-cart {
    margin-left: 26px;
    display: flex;
    align-items: center;
}
.header_nav-nocart {
    margin-left: 17px;
    display: flex;
    align-items: center;
}
.header_nav-nocart-content {
    display: flex;
    flex-direction: column;
    width: 69px;
    height: 32px;
}
.header_nav-nocart-content-one, .header_nav-nocart-content-two {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
}
.content {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    box-sizing: border-box;
}
.content_one, .content_two {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    column-gap: 10px;
}
.content_one-cart {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.content_two-slider {
    margin-top: 79px;
    display: flex;
    column-gap: 30px;
}
.content_two-slider-one, .content_two-slider-two,  .content_two-slider-three{
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    width: 431px;
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_two-slider-one-image, .content_two-slider-three-image {
    position: absolute;
    cursor: pointer;
}
.content_two-slider-one-image {
    margin-left: -45px;
}
.content_two-slider-three-image {
    margin-left: 390px;
}
.content_two-slider-one-text,
.content_two-slider-two-text,
.content_two-slider-three-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 30px;
}
.content_two-slider-one-text-one,
.content_two-slider-two-text-one,
.content_two-slider-three-text-one{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}
.content_two-slider-one-text-two,
.content_two-slider-two-text-two,
.content_two-slider-three-text-two{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}
.content_two-slider-one-text-three,
.content_two-slider-two-text-three,
.content_two-slider-three-text-three{
    margin-top: 2px;
    background: #005BB9;
    border-radius: 4px;
    width: 86px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_two-slider-one-text-three-text,
.content_two-slider-two-text-three-text,
.content_two-slider-three-text-three-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.content_two-nav-item {
    display: flex;
    column-gap: 20px;
}
.content_two-nav-item-one {
    width: 241px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005BB9;
    border-radius: 6px;
}
.content_two-nav-item-one-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.content_two-nav{
margin: 70px auto 0;
width: 1300px;
display: flex;
column-gap: 20px;
}
.content_two-nav-item-two, .content_two-nav-item-three {
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_two-nav-item-two {
    width: 123px;
    height: 55px;
}
.content_two-nav-item-three {
    width: 229px;
    height: 55px;
}
.content_two-nav-item-two-text, .content_two-nav-item-three-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}
.content_three {
    margin: 0 auto;
    width: 1300px;
}
.content_three-content {
    display: flex;
    column-gap: 30px;
}
.content_three-content-one, .content_three-content-three {
    margin-top: 11px;
}
.content_three-content-one-image img {
    width: 276px;
    height: 235px;
}
.content_three-content-one-star {
    display: flex;
    column-gap: 10px;
    margin-top: 21px;
}
.content_three-content-one-star-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    width: 76px;
    height: 16px;
}
.content_three-content-one-star-image {
    width: 39px;
    height: 16px;
}
.content_three-content-one-text {
    margin-top: 10px;
}
.content_three-content-one-text-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}
.content_three-content-one-text-text p {
    width: 316px;
    height: 25px;
}
.content_three-content-one-price {
    display: flex;
    column-gap: 4px;
    margin-top: 46px;
}
.content_three-content-one-price-one p {
    width: 35px;
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.content_three-content-one-price-two p {
    width: 67px;
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.content_three-content-one-item {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    align-items: center;
}
.content_three-content-one-item-border {
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 49px;
}
.content_three-content-one-item-border-content {
    display: flex;
    column-gap: 8px;
}
.content_three-content-one-item-border-content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.content_three-content-two {
    margin-top: 34px;
}
.content_three-content-two-image img {
    width: 270px;
    height: 213px;
}
.content_three-content-two-price {
    display: flex;
    column-gap: 8px;
}
.content_three-content-two-price-one img {
    margin-top: 40px;
}
.content_three-content-two-price-two img {
    margin-top: 46px;
}
.content_three-content-two-image-position {
    position: absolute;
}
.content_three-border {
    margin-top: 40px;
    margin-bottom: 22px;
}
.content_three-border-bottom {
    border-bottom: 3px solid #E1E5F8;
}
.content_three-block {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.content_three-block-border {
    width: 187px;
    height: 49px;
    border: 2px solid #005BB9;
    border-radius: 10px;
}
.content_three-block-border {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_three-block-border-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
    width: 107px;
    height: 19px;
}
.content_three-news {
    width: 113px;
    height: 28px;
    margin-top: 80px;
}
.content_three-news-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.content_four-border {
    margin-top: 14px;
}
.content_four-border-top {
    border-top: 9px solid #F5F5F5;
    display: flex;
    justify-content: space-evenly;
}
.content_four-border-top-one,
.content_four-border-top-two,
.content_four-border-top-three,
.content_four-border-top-four{
    margin-top: -10px;
}
.content_four-border-top-one-block-one {
    width: 153px;
    height: 19px;
}
.content_four-border-top-one-block-two {
    width: 284px;
    height: 150px;
}
.content_four-border-top-two-block-one {
    width: 191px;
    height: 38px;
}
.content_four-border-top-two-block-two {
    width: 311px;
    height: 80px;
}
.content_four-border-top-three-block-one {
    width: 268px;
    height: 38px;
}
.content_four-border-top-three-block-two {
    width: 260px;
    height: 120px;
}
.content_four-border-top-four-block-one,
.content_four-border-top-three-block-one,
.content_four-border-top-two-block-one,
.content_four-border-top-one-block-one{
    margin-top: 15px;
}
.content_four-border-top-four-block-one {
    width: 278px;
    height: 38px;
}
.content_four-border-top-one-block-one-text,
.content_four-border-top-two-block-one-text,
.content_four-border-top-three-block-one-text,
.content_four-border-top-four-block-one-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}
.content_four-border-top-four-block-two {
    width: 252px;
    height: 100px;
}
.content_four-border-top-one-block-two,
.content_four-border-top-two-block-two,
.content_four-border-top-three-block-two
.content_four-border-top-four-block-two{
    margin-top: 20px;
}
.content_four-border-top-one-block-two-text,
.content_four-border-top-two-block-two-text,
.content_four-border-top-three-block-two-text,
.content_four-border-top-four-block-two-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}
.footer {
    background: #0C1A2A;
    margin-top: 120px;
    height: 408px;
}
.footer_content {
    display: flex;
    justify-content: space-evenly;
}
.footer_content-left {
    display: flex;
    column-gap: 95px;
    margin-top: 35px;
}
.footer_content-left-item,
.footer_content-left-two {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.footer_content-left-item-one {
    width: 80px;
    height: 21px;
}
.footer_text-color-gray {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}
.footer_content-left-item-two {
    width: 124px;
    height: 16px;
}
.footer_text-color-white {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.footer_content-left-item-three {
    width: 43px;
    height: 16px;
}
.footer_content-left-item-four {
    width: 57px;
    height: 16px;
}
.footer_content-left-item-fife {
    width: 75px;
    height: 16px;
}
.footer_content-left-item-six,
.footer_content-left-item-seven {
    width: 47px;
    height: 16px;
}
.footer_content-left-item-eight {
    width: 58px;
    height: 16px;
}
.footer_content-left-item-nine {
    width: 42px;
    height: 16px;
}
.footer_content-left-two-one {
    width: 116px;
    height: 21px;
}
.footer_content-left-two-two {
    width: 64px;
    height: 16px;
}
.footer_content-left-two-three {
    width: 48px;
    height: 16px;
}
.footer_content-left-two-four {
    width: 61px;
    height: 16px;
}
.footer_content-left-two-fife {
    width: 57px;
    height: 16px;
}
.footer_content-left-two-six {
    width: 52px;
    height: 16px;
}
.footer_content-left-two-seven {
    width: 78px;
    height: 16px;
}
.footer_content-left-two-eight {
    width: 166px;
    height: 16px;
}
.footer_content-left-three-one {
    width: 130px;
    height: 21px;
}
.footer_content-left-three-two {
    margin-top: 14px;
    width: 276px;
    height: 32px;
}
.footer_content-left-three-three {
    width: 212px;
    height: 16px;
    margin-top: 14px;
}
.footer_content-left-three-four {
    width: 168px;
    height: 32px;
    margin-top: 14px;
}
.footer_content-left-three-fife {
    width: 137px;
    height: 16px;
    margin-top: 14px;
}
.footer_content-left-three-six {
    width: 104px;
    height: 16px;
    margin-top: 45px;
}
.footer_content-left-three-seven {
    margin-top: 8px;
}
.footer_content-right {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}
.wrap {
    display: flex;
    column-gap: 135px;
}
.wrap2 {
    display: flex;
}

.footer_content-right-one-one {
    width: 97px;
    height: 21px;
}
.footer_content-right-two-one {
    width: 60px;
    height: 21px;
}
.footer_content-right-one-two {
    width: 125px;
    height: 19px;
    margin-top: 12px;
}
.footer_content-right-one-three {
    width: 114px;
    height: 19px;
}
.footer_content-right-two-two {
    margin-top: 12px;
    width: 239px;
    height: 38px;
}
.footer_content-right-one-four {
    margin-top: 23px;
    width: 240px;
    height: 21px;
}
.footer_content-right-two-three {
    margin-top: 23px;
    width: 195px;
    height: 21px;
}
.footer_content-right-one-fife {
    margin-top: 23px;
    width: 343px;
    height: 42px;
}
.footer_content-mail {
    margin-top: 19px;
    width: 470px;
    height: 40px;
    display: flex;
}
.footer_content-mail-input input{
    width: 293px;
    height: 40px;
    background: #0C1A2A;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
}
.footer_content-mail-button {
    width: 177px;
    height: 40px;
    background: #005BB9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_content-mail-button-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.footer_content-social {
    margin-top: 27px;
    display: flex;
    column-gap: 55px;
    justify-content: flex-end;
}
.footer_content-left-item-ten {
    margin-top: 43px;
    margin-left: 100px;
    width: 355px;
    height: 20px;
    margin-bottom: 18px;
}