* {
    margin: 0;
    padding: 0;
}
.header {
    background: #0F2438;
}
.header_top{
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_top__left,
.header_top__right {
    display: flex;
    column-gap: 25px;
}
.header_top__left-item,
.header_top__right-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.header_top__left-item {
    display: flex;
    column-gap: 5px;
}
.header_top__left-item a {
    color: white;
}
.header_content, .header_nav {
    margin: 0 auto;
    width: 1400px;
}
.header_content-flex {
    display: flex;
    justify-content: space-around;
}
.header_content-flex-one {
    display: flex;
    column-gap: 5px;
}
.header_content-flex-one-image {
    margin-top: 20px;
}
.header_content-flex-one-text {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.header_content-flex-one-text-one {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}
.header_content-flex-one-text-two {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}
.header_content-flex-two {
    margin-top: 41px;
    display: flex;
    column-gap: 10px;
}
.header_content-flex-two-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}
.header_content-flex-three {
    display: flex;
    column-gap: 15px;
}
.header_content-flex-three-image {
    margin-top: 45px;
}
.header_content-flex-three-text {
    margin-top: 53px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}


.header_content-flex-four {
    display: flex;
    column-gap: 6px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    width: 252px;
    height: 31px;
    background: #E1EFD0;
    margin-top: 46px;
}
.header_content-flex-fife {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.header_content-flex-fife-text-one {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
    margin-top: 41px;
}
.header_content-flex-fife-text-two {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
}
.header_nav-block-one {
    background: #005BB9;
    border-radius: 6px;
    width: 164px;
    height: 53px;
}
.header_nav {
    margin-top: 25px;
    display: flex;
}
.header_nav-block-one {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_nav-block-one-content {
    display: flex;
    column-gap: 12px;
}
.header_nav-block-one-content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.header_nav-block-one-content-block {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: center;
}
.header_nav-block-one-content-block-line {
    width: 20px;
    height: 3px;
    background: #FFFFFF;
}
.header_nav-search {
    margin-left: 30px;
    display: flex;
}
.header_nav-search-input input {
    width: 549px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    border: none;
}
.header_nav-search-button {
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    width: 101px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav-search-button-content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.header_nav-man {
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.header_nav-text {
    margin-left: 18px;
}
.header_nav-text-text, .header_nav-heart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_nav-border-content {
    border: 1px solid #E1E5F8;
    height: 28px;
}
.header_nav-border {
    display: flex;
    align-items: center;
    margin-left: 26px;
}
.header_nav-heart {
    margin-left: 25px;
}
.header_nav-like {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_nav-like-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
    margin-left: 15px;
}
.header_nav-cart {
    margin-left: 26px;
    display: flex;
    align-items: center;
}
.header_nav-nocart {
    margin-left: 17px;
    display: flex;
    align-items: center;
}
.header_nav-nocart-content {
    display: flex;
    flex-direction: column;
}
.header_nav-nocart-content-one, .header_nav-nocart-content-two {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
}
.border_content {
    border: 2px solid #E5E5E5;
    border-top: none;
}
.content {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    box-sizing: border-box;
}
.content_one, .content_two {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    column-gap: 10px;
}

.content_one-cart {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.content_two-slider {
    margin-top: 79px;
    display: flex;
    column-gap: 30px;
}
.content_two-slider-one, .content_two-slider-two,  .content_two-slider-three{
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    width: 431px;
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_two-slider-one-text,
.content_two-slider-two-text,
.content_two-slider-three-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 30px;
}
.content_two-slider-one-text-one,
.content_two-slider-two-text-one,
.content_two-slider-three-text-one{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}
.content_two-slider-one-text-two,
.content_two-slider-two-text-two,
.content_two-slider-three-text-two{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}
.content_two-slider-one-text-three,
.content_two-slider-two-text-three,
.content_two-slider-three-text-three{
    margin-top: 2px;
    background: #005BB9;
    border-radius: 4px;
    width: 86px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_two-slider-one-text-three-text,
.content_two-slider-two-text-three-text,
.content_two-slider-three-text-three-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.content_two-nav-item {
    display: flex;
    column-gap: 20px;
}
.content_two-nav-item-one {
    width: 241px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005BB9;
    border-radius: 6px;
}
.content_two-nav-item-one-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.content_two-nav{
margin: 70px auto 0;
width: 1300px;
display: flex;
column-gap: 20px;
}
.content_two-nav-item-two, .content_two-nav-item-three {
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_two-nav-item-two {
    width: 123px;
    height: 55px;
}
.content_two-nav-item-three {
    width: 229px;
    height: 55px;
}
.content_two-nav-item-two-text, .content_two-nav-item-three-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}