* {
    margin: 0;
    padding: 0;
}
.header {
    height: 36px;
    background: #0F2438;
}
.header_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_top__left,
.header_top__right {
    display: flex;
    column-gap: 25px;
}
.header_top__left-item,
.header_top__right-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header_top__left-item a {
    color: white;
}