* {
    margin: 0;
    padding: 0;
}

body {
    background: cornflowerblue;
}

.headerone {
    background: #2c7bdb;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.headeroneright {
    margin-left: 1100px;
    display: flex;
    column-gap: 30px;
}

.headeronerightbox {
    height: 10px;
    width: 50px;
    background: #a0db17;
}

.headertwoleftbox {
    height: 120px;
    width: 150px;
    background: #db1f50;
}

.headertwoleft {
    margin-left: 200px;
}

.headertwo {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
}

.headertworight {
    display: flex;
    column-gap: 30px;
    margin-left: 600px;
}

.headertworightbox {
    height: 15px;
    width: 111px;
    background: #d558c9;
}

.headerthree {
    width: 100%;
    height: 500px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 35px;
    box-sizing: border-box;
}

.headerthreeoneblock {
    width: 150px;
    height: 25px;
    background: #db1f50;
}

.headerthreeone, .headerthreetwo, .headerthreethree,
.headerthreefour {
    display: flex;
    column-gap: 15px;
}

.headerthreetwoblock, .headerthreethreeblock {
    width: 50px;
    height: 10px;
    background: #d558c9;
}
.headerthreefourblock {
    width: 70px;
    height: 15px;
    background: #1bdb8b;
}
.headerthreefifeblock {
    height: 50px;
    width: 250px;
    background: red;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 50px;
}
.border {
    width: 1400px;
    margin: 0 auto;
    border: 10px solid #1bdb8b;
    border-radius: 40px;
    margin-top: 30px;
}
.content1 {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.block1 {
    width: 250px;
}
.block2, .block5 {
    width: 150px;
}
.block1, .block2, .block5{
    height: 20px;
    background: #d558c9;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}
.content2, .content3 {
    display: flex;
    justify-content: space-evenly;
}
.block3 {
    width: 300px;
    height: 300px;
    background: #db6c34;
}
.block4{
    display: flex;
    column-gap: 15px;
}

.father {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background: blue;
}
.target {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.kolo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: #d9d3db;
    margin-left: 15px;
    margin-top: 20px;
}
.kolotarget{
    display: flex;
    column-gap: 30px;
}
.kolotarget1 {
    height: 20px;
    width: 150px;
    background: red;
}
.kolotarget2 {
    height: 20px;
    width: 90px;
    background: #a0db17;
}
.kolotarget > .kolotarget2 {
    margin-bottom: 30px;
}
.target:hover {
    border: 5px solid #2c7bdb;
    background: green;
    border-radius: 25px;
    transition: 0.4s;
}
.headerfour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    column-gap: 15px;
}
.headerfourone, .headerfourtwo {
    background: #db6c34;
    height: 15px;
    width: 150px;
}
.headerfife {
    margin: 0 auto;
    width: 1400px;
}
.headerfifecontent {
    display: flex;
    column-gap: 15px;
}
.headerfifeblock {
    border: 5px solid crimson;
    width: 33%;
    border-radius: 35px;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.headerfifeblockone {
    margin: 10px;
    background: darkblue;
    height: 200px;
    border-radius: 35px;
}
.headerfifeblocktwo {
    display: flex;
    justify-content: space-around;
}
.headerfifeblocktwoleft {
    background: #a0db17;
    height: 10px;
    width: 50px;
}
.headerfifeblocktworight {
    display: flex;
    column-gap: 10px;
}
.headerfifeblocktworightblock {
    height: 10px;
    width: 30px;
    background: #db6c34;
}
.headerfifeblockthreecontent, .headerfifeblockfourcontent {
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
}
.headerfifeblockthreecontentblock {
    width: 60px;
    height: 10px;
    background: darkcyan;
}
.headerfifeblockfourcontentblock {
    height: 10px;
    width: 50px;
    background: maroon;
}
.headerfifeblockfifecontent {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.headerfifeblockfifecontentblockadd, .headerfifeblockfifecontentblockodd{
    height: 15px;
    background: olive;
}
.headerfifeblockfifecontentblockadd {
    width: 110px;
}
.headerfifeblockfifecontentblockodd {
    width: 55px;
}
.headerfifeblockfife {
    margin-bottom: 35px;
}
.headerfifeblocksixcontent {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    border-top: 5px solid red;
}
.headerfifeblocksixcontentleft {
    height: 35px;
    width: 150px;
    background: darkslateblue;
    border-radius: 25px;
}
.headerfifeblocksixcontentright {
    display: flex;
    column-gap: 10px;
}
.headerfifeblocksixcontentrightblock {
    height: 35px;
    width: 50px;
    background: darkkhaki;
    border-radius: 50%;
}
.headersix {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    margin-top: 100px;
    height: 400px;
    margin-bottom: 100px;
}
.headersixleft, .headersixright{
    width: 50%;
    background: #db6c34;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headersixright {
    background: indigo;
}
.headersixleftblock, .headersixrightblock {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}
.headersixleftblockone, .headersixleftblocktwo {
    display: flex;
    column-gap: 20px;
}
.headersixleftblockonecontentone, .headersixleftblockonecontenttwo {
    height: 15px;
    width: 100px;
    background: red;
}
.headersixleftblockonecontenttwo {
    width: 150px;
}
.headersixleftblocktwocontent {
    height: 15px;
    width: 70px;
    background: #a0db17;
}
.headersixleftblockthree {
    height: 30px;
    width: 200px;
    background: brown;
    border-radius: 20px;
    margin-top: 30px;
}
.footer {
    height: 300px;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerblock {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}
.footerblockcontent {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}
.footerblockcontentone {
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 8px;
}
.footerblockcontentborder {
    width: 550px;
    height: 5px;
    background: white;
    border-radius: 5px;
}