@media screen and (max-width: 992px) {
    .headeroneright {
        margin-left: 0;
    }
    .headerone {
        display: flex;
        justify-content: center;
    }
    .headertwoleftbox {
        height: 60px;
        width: 75px;
    }
    .headertworight {
        margin-left: 0;
    }
    .headertwo {
        display: flex;
        column-gap: 110px;
    }
    .headertwoleft {
        margin-left: 100px;
    }
    .border {
        border: 4px solid darkred;
        width: 900px;
    }
    .content2, .content3 {
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 35px;
    }
    .father {
        flex-direction: column;
        align-items: center;
    }
    .target {
        align-items: center;
        background: #db1d73;
        width: 900px;
    }
    .headerfour {
        justify-content: space-around;
    }
    .headerfife {
        margin: 0 auto;
        width: 900px;
    }
    .headersix {
        width: 992px;
    }
}
@media screen and (max-width: 768px){
    .headertworightbox {
        width: 70px;
    }
    .border, .target {
        width: 720px;
    }
    .headerfife {
        width: 720px;
    }
    .headerfifeblockthreecontentblock {
        width: 40px;
    }
    .headerfifeblockfourcontentblock {
        width: 30px;
    }
    .headerfifeblockfifecontentblockadd {
        width: 60px;
    }
    .headerfifeblockfifecontentblockodd {
        width: 15px;
    }
    .headerfifeblockfifecontentblockadd, .headerfifeblockfifecontentblockodd {
        height: 10px;
    }
    .headerfifeblocksixcontentleft {
        height: 15px;
        width: 75px;
    }
    .headerfifeblocksixcontentrightblock {
        height: 15px;
        width: 25px;
    }
    .headersix {
        width: 768px;
    }
    .headersixleftblockonecontentone, .headersixleftblockonecontenttwo {
        height: 10px;
        width: 80px;
    }
    .headersixleftblocktwocontent {
        height: 10px;
        width: 40px;
    }
    .headersixleftblockthree {
        height: 20px;
        width: 150px;
    }
}
@media screen and (max-width: 576px) {
    .headertwoleftbox {
        width: 50px;
        height: 35px;
    }
    /*.headertwo {*/
    /*    justify-content: center;*/
    /*}*/
    .headertworightbox {
        width: 50px;
    }
    .border {
        width: 550px;
    }
    .block3 {
        width: 500px;
    }
    .content2 {
        row-gap: 35px;
    }
    .block5 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
   .content3 {
       row-gap: 15px;
   }
   .target {
       width: 500px;
   }
   .headerfifecontent {
       flex-direction: column;
       width: 576px;
       /*align-items: center;*/
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .headerfifeblock {
       width: 550px;
   }
   .headerfifeblocktworightblock, .headerfifeblockfourcontentblock,
   .headerfifeblockfifecontentblockodd{
       height: 15px;
       width: 70px;
   }
    .headerfifeblocktworight {
        column-gap: 30px;
    }
    .headerfifeblocktwoleft, .headerfifeblockthreecontentblock,
    .headerfifeblockfifecontentblockadd{
        height: 15px;
        width: 130px;
    }
    .headerfifeblocksixcontentleft {
        height: 50px;
        width: 170px;
    }
    .headerfifeblocksixcontentrightblock {
        height: 50px;
        width: 75px;
    }
    .headersix {
        width: 576px;
        flex-direction: column;
        justify-content: center;
        row-gap: 35px;
        height: 650px;
    }

    .headersixleft, .headersixright {
        width: 100%;
        height: 300px;
    }

}